@font-face {
  font-family: OpenSans-Regular;
  src: url(~@/assets/fonts/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans-Light;
  src: url(~@/assets/fonts/OpenSans/OpenSans-Light.ttf);
}
@font-face {
  font-family: OpenSans-Bold;
  src: url(~@/assets/fonts/OpenSans/OpenSans-Bold.ttf);
}
@font-face {
  font-family: OpenSans-SemiBold;
  src: url(~@/assets/fonts/OpenSans/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: SuezOne;
  src: url(~@/assets/fonts/SuezOne/SuezOne-Regular.ttf);
}
@font-face {
  font-family: Felix;
  src: url(~@/assets/fonts/Felix/felix007-medium-webfont.ttf);
}
@font-face {
  font-family: Dorian;
  src: url(~@/assets/fonts/Dorian/dorianclm-book-webfont.ttf);
}
@font-face {
  font-family: DorianItalic;
  src: url(~@/assets/fonts/Dorian/dorianclm-bookitalic-webfont.ttf);
}